/* Colors */
$light-grey: #F6F6F7;
$font: #222222;
$font-alt: #888888;
$star:#C90000;
$border-light: #CCCCCC;
$border-dark: #222222;

@import "_reset.scss";
@import "_fonts.scss";
@import "_layout.scss";
